<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @user.rate %>
</p>

<p>
  <strong>Average:</strong>
  <%= @user.average %>
</p>

<p>
  <strong>Products and their functions:</strong>
  <% @products.each do |p| %>
  	<%= link_to p.name, p %>
  	(<% p.functions.each do |f| %>
  		<%= link_to f.name, f %>
  	<% end %>)
  <% end %>
</p>
<% if logged_in? %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
